* {
  margin: 0;
  padding: 0;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

/*  Header  */
header {
  position: fixed;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  background-color: black;
  z-index: 1;
}

nav {
  float: right;
}

nav a {
  padding: 22px;
  color: seashell;
  float: left;
}

header img {
  height: 50px;
  margin-left: 10px;
  padding: 10px 0;
}

/*  Mission  */
.banner {
  background-color: black;
  top: 50%;
  width: 100%;
  position: relative;
  text-align: center;
}

#mission {
  background-image: url("../resources/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  padding-top: 69px;
  background-position: center;
  margin: 0 auto;
}

/*  Featured-Tea  */
figure {
  margin: 10px;
}

figure img {
  height: 200px;
  width: 300px;
}

figcaption {
  text-align: center;
  margin-top: 10px;
}

.tea {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px;
}

#featured-tea {
  width: 1000px;
  margin: 40px auto;
}

#featured-tea h1, h2 {
  text-align: center;
}

/*  Locations  */
.location {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
  width: 100%;
}
.location div {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  text-align: center;
  width: 300px;
  height: 300px;
  margin: 0 40px;
}


#locations {
  background-image: url("../resources/img-locations-background.jpg");
  height: 500px;
  width: 1200px;
  margin: 0 auto;
}

#locations h2 {
  position: relative;
  top: 47px;
  text-align: center;
}

/*  Footer  */
footer div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}
.footer {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 200px;
}

#copyright {
  text-align: left;
  margin-left: 20px;
}
